.row {
  height: 100%;
}
html, body, .container, #map {
  width: 100%;
  height: 92%;
  max-width: none;
}
#map {
  position: relative;
}
/* Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
table {
  font-size: 12px;
}

#map {
  width: 100%;
  height: 85%
}

#pac-card {
  z-index: 50;
  position: absolute;
  right: 0;
  top: 82px;
  width: 98%;
  text-align: center;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  /* font-family: Roboto; */
}

#locationfield {
  padding-bottom: 12px;
  margin-right: 12px;
  width: 200px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  /* font-family: Roboto; */
  font-size: 13px;
  font-weight: 300;
}

#listing {
  position: absolute;
  width: 248px;
  height: 487px;
  overflow: auto;
  right: 8px;
  top: 260px;
  cursor: pointer;
  overflow-x: hidden;
}
#findhotels {
  /* position: absolute; */
  text-align: -webcite-center;
  width: 100%;
  /* left: 17px; */
  /* top: 66px; */
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  z-index: 5;
  color: #fff;
  background-color: #e21d00;
  text-align: center;
}

#controls {
  /* position: absolute; */
  /* left: 321px; */
  /* width: 140px; */
  /* top: 68px; */
  /* width: 50%; */
  /* text-align: -webcite-center; */
  z-index: 5;
  background-color: #fff;
  text-align: center;
}
#autocomplete {
  width: 100%;
  height: 33px;
  width: 100%;
  text-align: -webcite-center;
  z-index: 5;
  background-color: #fff;
  /* text-align: center; */
}
#autocomplete:focus {
  border-color: #4d90fe;
}

.form-control {
    padding: 0 0; 
}
#country {
  text-overflow: ellipsis;
  height: 30px;
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.hotelIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}