<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.lux.min.css" />
    </head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Away We Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container" id="infomation">
        <h1>This website was made by:</h1> <p>
                Tyson Cross 1239448 <br>
                Rebecca Jasper 1066586 <br>
                Thabang Mabula 364103 <br>
                Darrion Singh 1056673 <br>
</div>

      <script src="/js/jquery-3.4.0.min.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
</body>

