<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Find a hotel</title>
      <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
      <meta charset="utf-8">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">

      <script src="/js/jquery-3.4.0.min.js"></script>
      <script src='common.js'></script>
      <script src='countries.js'></script>
      <script src='hotel.js'></script>
      <script src="/js/platform.js"></script>
      <script src="sign-in.js"></script>

      <link rel="stylesheet" href="/css/bootstrap.lux.min.css" />
      <link rel="stylesheet" href="/css/general.css" />
      <link rel="stylesheet" href="/css/hotel.style.css" />
      
    </head>
  <body onload="signInInit()">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#">
          <img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Away We Go</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/trip" onclick="clearTripFromSessionStorage()">New Trip <span class="sr-only">(current)</span></a>
                </li> 
              <li class="nav-item">
                <a class="nav-link" href="/trip">My Trip<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/trip-manager">Trip Manager</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/hotels">Hotel Finder</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="usernameTag" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item small" id='emailTag'>email</a>
                          <a class="dropdown-item" href="/profile">My Account</a>
                          <div class="dropdown-divider"></div>
                          <a id="signOutButton" class="dropdown-item" href="#">Sign Out</a><!-- Doesnt do anything yet -->
                      </div>
                </li>
            </ul>
        </div>
      </nav>

      <div class="pac-card" id="pac-card">
          <div>
            <div id="findhotels">
                Find hotels in:
            </div>
          </div>
          <!-- <div id="pac-container">
              <input id="pac-input" placeholder="Enter a city" type="text" />
          </div> -->

          <div id="locationField">
              <input id="autocomplete" placeholder="Enter a city" type="text" />
          </div>
        <div id="controls">
            <select id="country">
              <option value="all">All</option>
              <option value="au">Australia</option>
              <option value="br">Brazil</option>
              <option value="ca">Canada</option>
              <option value="fr">France</option>
              <option value="de">Germany</option>
              <option value="mx">Mexico</option>
              <option value="nz">New Zealand</option>
              <option value="it">Italy</option>
              <option value="za" selected>South Africa</option>
              <option value="es">Spain</option>
              <option value="pt">Portugal</option>
              <option value="us">U.S.A.</option>
              <option value="uk">United Kingdom</option>
            </select>
        </div>
      </div>

    <div class="col" id="map"></div>

    <div id="listing">
        <table id="resultsTable">
          <tbody id="results"></tbody>
        </table>
    </div>

    <div style="display: none">
      <div id="info-content">
        <table>
          <tr id="iw-url-row" class="iw_table_row">
            <td id="iw-icon" class="iw_table_icon"></td>
            <td id="iw-url"></td>
          </tr>
          <tr id="iw-address-row" class="iw_table_row">
            <td class="iw_attribute_name">Address:</td>
            <td id="iw-address"></td>
          </tr>
          <tr id="iw-phone-row" class="iw_table_row">
            <td class="iw_attribute_name">Telephone:</td>
            <td id="iw-phone"></td>
          </tr>
          <tr id="iw-rating-row" class="iw_table_row">
            <td class="iw_attribute_name">Rating:</td>
            <td id="iw-rating"></td>
          </tr>
          <tr id="iw-website-row" class="iw_table_row">
            <td class="iw_attribute_name">Website:</td>
            <td id="iw-website"></td>
          </tr>
        </table>
      </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script defer src='/js/loadmap.js'></script>
    <!-- <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgnuMPrM3Yha6Y9K6f_XkdifRrE2t33Z4&libraries=places&callback=initMap">
    </script> -->
  </body>
</html>