<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" /> 
        <title>AwayWeGo</title>
        <style>
                p {
                text-align: center;
                } 

                #grad {
                    background-image: linear-gradient( lightblue, white, white, lightblue);
                  }
        </style>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body id="grad">
    <div >
        <p>
            <a href="/map">
            <img defer src="img/placeholder.jpg" alt="placeholder" class="center" width=1024 height=759>
            </a>
        </p>
    </div>
</body> </html>