<!DOCTYPE html>
<html>
  <head>
    <title>A Searchable Map</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/map.style.css" />
  </head>
  <body>
      <!-- <h3>Plan your Trip</h3> -->
      <div class="pac-card" id="pac-card">
            <div>
              <div id="title">
                Away we go to...
              </div>
            </div>
            <div id="pac-container">
              <input id="pac-input" type="text"
                  placeholder="Enter a location">
            </div>
          </div>
          <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name"  class="title"></span><br>
            <span id="place-address"></span>
          </div>
          <div id="map"></div>
    <script
    defer src='/js/map.js'>
    </script>
  </body>
</html>