<!DOCTYPE html>
<html lang="en">

	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<script src="/js/jquery-3.4.0.min.js"></script>
		<script src='utility.js'></script>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/platform.js"></script>
		<script src="sign-in.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.lux.min.css" />
		<link rel="stylesheet" href="/css/general.css">
	</head>

	<body onload="signInInit()">

		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				Away We Go</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/trip" onclick="clearTripSessionStorage()">New Trip <span class="sr-only">(current)</span></a>
                </li> 
              <li class="nav-item">
                <a class="nav-link" href="/trip">My Trip<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/trip-manager">Trip Manager</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hotels">Hotel Finder</a>
            </li>
          </ul>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="usernameTag" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">username</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a id="signOutButton" class="dropdown-item" href="#">Sign Out</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container-fluid align-items-center">
			<div class="mx-auto text-center">
				<h2>Welcome,</h2>
				<h2 id="emailTag" class="mx-auto mt-2 mb-5"></h2>
			</div>
		</div>

	</body>

</html>
