<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Sign In</title>
		<!-- Google API -->
		<script src="/js/platform.js"></script>
		<!-- Scripts -->
		<script src="/js/jquery-3.4.0.min.js"></script>
		<script src="sign-in.js"></script>
		<!-- Style Sheets -->
		<link rel="stylesheet" href="/css/bootstrap.lux.min.css" />
		<link rel="stylesheet" href="/css/sign-in.css" />
	</head>

	<body onload="signInInit()">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<h5 class="card-title text-center">Sign In</h5>
							<form class="form-signin">
								<div class="form-label-group">
									<input type="email" autocomplete="username" id="inputEmail" class="form-control"
										placeholder="Email address" autofocus>
									<label for="inputEmail">Email address</label>
								</div>

								<div class="form-label-group">
									<input type="password" autocomplete="current-password" id="inputPassword" class="form-control"
										placeholder="Password">
									<label for="inputPassword">Password</label>
								</div>

								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="customCheck1">
									<label class="custom-control-label" for="customCheck1">Remember password</label>
								</div>
								<button id="signInPageSignInButton" class="btn btn-lg btn-primary btn-block text-uppercase" type="button">Sign
									in</button>
								<hr class="my-4">
								<button id="googleLoginButton" class="btn btn-lg btn-google btn-block text-uppercase" type="button"><i
										class="fab fa-google mr-2"></i>Sign in with Google</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
