<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Terms and Conditions</title>
        <meta charset="utf-8" />
        <!-- Allows for JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="/js/terms_and_conditions.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>

    <body>
        <!-- onload="displayTermsAndConditions()"> -->
        <h1>Terms and Conditions</h1>

        <div id="Preamble"> </div> 

        <h2> Accounts </h2>
        <div id="Accounts"></div>

        <button type='button' id='agreeButton'> Agree to Terms and Conditions </button>

    </body>

</html>
