<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Terms and Conditions</title>
        <meta charset="utf-8" />
        <!-- Allows for JQuery -->
        <script src="/js/jquery-3.4.0.min.js"></script>
        <script src="terms_and_conditions.js"></script>

        <link rel="stylesheet" href="/css/bootstrap.lux.min.css" />
    </head>

    <body>
        <h1>Terms and Conditions</h1>

        <div id="Preamble"> </div>

        <h2> Accounts </h2>
        <div id="Accounts"></div>

        <h2> Links To Other Web Sites </h2>
        <div id="OtherSites"></div>
    </body>

</html>
