<!DOCTYPE html>
<html lang="en">

<head>
    <title>Terms and Conditions</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Terms and Conditions</h1>
    <ol>
        <% for(var i = 0; i < termList.length; i++){ %>
            <li> <%- termList[i] -%></li>
        <% } %>
    </ol>
</body>

</html>