<!DOCTYPE html>
<html>
  <head>
    <title>Away We Go Trip Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/jquery-ui-1.12.1.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.lux.min.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/map.style.css" />
  </head>

  <body>

    <div class="container">
      <div class="row">
          <div class="col-sm-9" id="map"></div>
          <div class="col-sm-3"  id="destination">
              <button onclick='addDestination()''>Add</button>
            <ul id="destinationList" class="list-group">
            </ul>
          </div>
      </div>
    </div>

    <script>
      function addDestination() {
        let node = document.createElement('li')
        let destinationName = document.createTextNode('New Destination')
        node.appendChild(destinationName)
        node.className = 'list-group-item'
        document.getElementById('destinationList').appendChild(node)
      }
      </script>
    <script>$("#destinationList").sortable();</script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>