  
<!DOCTYPE html>
<html lang='eng'>

<head>
    <title>My Trips</title>
    <meta charset='utf-8' />    
    <script defer src='/js/trips.js'></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
        <h1 id='heading'>My Trips:</h1>
        <button type='button' onclick="addTripTitle()" id='addButton'>Add</button> 
        
        <form action="/trips" method="POST">
            <div id='tripsList'></div>
            <!-- <button type="submit" onclick='saveTripTitle()' id='saveButton' hidden='true'> Save </button>     -->
            <button type="submit" id='saveButton' hidden='true' onclick="saveTripTitle()"> Save </button> 
        </form>
        
        <!-- <button type="button" id='editButton' onclick='editTripTitle()' hidden='true'> Edit </button>
        <button type="button" id='deleteButton' onclick='deleteTripTitle()' hidden='true'> Delete </button> -->
        <table id='tripTitleTable'> 
            <tbody>
            <% for(var i = 0; i < tripTitleList.length; i++){ %>
                <tr> 
                    <td>
                        <form action="/trips/delete" method="POST" id="existingTripTitle">
                            <input type="text" value='<%= tripTitleList[i] -%>' disabled='true'> 
                        <form action="/trips/delete" method="POST">
                    </td>

                    <td>
                        <button type="button" class= "EditButton"> Edit </button>
                    </td>

                    <td>
                        <form action="/trips/delete" method="POST">
                            <button type = "submit" class="DeleteButton" onclick='removeRow(this)' form="existingTripTitle"> Delete </button>
                        </form>
                    </td>
                </tr> 
            <% } %>
            </tbody>
        </table>
</body>

