<!DOCTYPE html>
<html>
  <head>
    <title>Away We Go trip planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    
    <script src="/js/jquery-3.4.0.js"></script>
    <script src="/js/jquery-ui-1.12.1.js"></script>
    <script src='info.js'></script>
    <script defer src='trip.js'></script>

    <link rel="stylesheet" href="/css/bootstrap.lux.min.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/map.style.css" />
  </head>

  <!-- <body onload='renderDestinations()'> -->
<body>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Away We Go</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/trip">New Trip <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trip-manager">Trip Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">My Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hotels">Hotel Finder</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="usernameTag" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item small" id='emailTag'>email</a>
                      <a class="dropdown-item" href="/profile">My Account</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" onclick="signOut()">Sign Out</a><!-- Doesnt do anything yet -->
                    </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="pac-card" id="pac-card">
        <div>
          <div id="title">
            Search for a destination:
          </div>
        </div>

        <div id="pac-container">
          <input id="pac-input" type="text"
              placeholder="Enter a location">
        </div>
      </div>

      <div class="container">
        <div class="row">
            <div class="col-sm-9" id="map"></div>
            <div class="col-sm-3"  id="destination">
                <table class="table table-striped table-hover" id="destinationTable">
                    <thead>
                      <th><h1 id='heading'>Trip Itinerary</h1></th>
                    </thead>
                    <tbody id='destinationsTableBody'>
                    </tbody>
                </table>
            </div>
        </div>
      </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script defer src='/js/loadmap.js'></script>
  </body>
</html>