<!DOCTYPE html>
<html lang='eng'>

<head>
    <title>My Trips</title>
    <meta charset='utf-8' />    
    <script defer src='/js/trips.js'></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
        <h1 id='heading'>My Trips:</h1>
        <button type='button' onclick="addTripTitle()" id='addButton'>Add</button> 
        <div id='tripsList'></div>
        <form action="/api/trips/addTrip" method="POST">
            <button type="submit" id='saveButton' hidden='true'> Save </button>  
        </form>
</body>

</html>