<!DOCTYPE html>
<html lang='eng'>

<head>
    <title>Trip Itinerary</title>
    <meta charset='utf-8' />    
    <script defer src='/tripSidebar.js'></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <h1 id='heading'>Trip Itinerary:</h1>
       
    <input type='text' id='tripTitle' placeholder="New Trip">
    <button type='button' onclick="saveTripTitle()" id='saveTripTitleButton'>Save</button> 

    <div>
        <button type='button' id='addButton'>Add</button>
    </div> 

    <form action="/trip" method="POST"></form>

        <div>
            <table id='indexTable' style = 'float: left'> 
                <tbody id='indexTableBody'>
                </tbody>
            </table>
            <table id='destinationsTable' style = 'float: left'> 
                <tbody id='destinationsTableBody'>
                </tbody>
            </table>
        </div>    

        <div>
            <button type="submit" id='saveTripButton' onclick="saveTrip()"> Save </button> 
        </div> 

    </form>

</body>

